#!/bin/bash

# Generated automatically by Jinja2 templating engine 

CORALPATH={{ coralpath }}
ALIHOME={{ alidir }} 

aliuser={{ aliuser }}
trafbase={{ trafbase }}
alignbase={{ alignbase }}
jobdir={{ jobdir }}
geostart={{ geostart }}
run={{ runno }}
aliswitch={{ aliswitch }}
magnets={{ magnets }}
beam={{ beamtype }}
period={{ period }}
year={{ year }}
datapath={{ datapath }}
checkdir={{ checkdir }}
step={{ step }}
iters={{ iters }}

namepart={{ namepart }}
alsrcpath={{ alsrcpath }}

letters={{ letters }}
